:root {
	--primary: rgb(12, 12, 12);
	--secondary: white;
	--background: #ffffff;
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}


.hero-background {
    position: relative;
    width: 100%; /* Full width */
    height: 90vh;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%; /* Full width of the container */
    height: auto; /* Auto height to maintain aspect ratio */
    min-height: 100%; /* Minimum height to cover the container vertically */
    transform: translate(-50%, -50%);
    object-fit: cover; /* Covers the area, might crop some parts of the video */
    z-index: -1;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

.hero-headline {
	font-size: 6.75em;
	margin-bottom: 0px;
}

.hero-subheadline {
	margin-top: 15px;
	font-size: 1.62em;
}

body {
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden; /* Prevent horizontal scrollbar */
	margin: 0;
	font-family: Manrope, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
}

main {
	max-width: 1440px;
	margin: auto;
	width: 100%;
	margin-top: 2em;
}

p,
pre,
code {
	line-height: 1.5;
}

a {
	color: black;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-size: 4.2em;
	line-height: 1;
	font-weight: 600;
}

h3 {
	font-size: 1.62em;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 14px;
	margin-top: 22px;
}

.arrow-cta {
	font-size: 0.875em;
}

header,
main,
footer {
	padding: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

.container {
	max-width: 1440px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.logo-image {
	width: 178px;
	max-width: 100%;
	padding-top: 5px;
}

.logo {
	margin: auto;
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	width: 100%;
}

header nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-invert {
	position: absolute; /* or 'fixed' if you want it to stay at the top as you scroll */
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10; /* Ensures the header stays above the hero banner */
	background-color: transparent; /* or any other styling you want */
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

/* Projects Page Grid */

@media screen and (min-width: 768px) {
    .projects-gallery {
        margin-top: 2em;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Three columns of equal width */
        grid-gap: 1em;
    }

    .projects-gallery article:nth-child(3n+1) { /* Targets the first image in each set */
        grid-column: span 1; /* Occupies 1/3 of the width */
    }

    .projects-gallery article:nth-child(3n+2) { /* Targets the second image in each set */
        grid-column: span 2; /* Occupies 2/3 of the width */
    }

    .projects-gallery article:nth-child(3n+3) { /* Targets the third image in each set */
        grid-column: span 3; /* Spans full width */
    }

	.projects-gallery img {
		width: 100%;               /* Ensures the image takes the full width of its container */
		object-fit: cover;         /* Ensures the image covers the area without stretching */
		object-position: center;   /* Centers the image */
		height: 600px;             /* Fixed height for all images */
	}
}

/* Single Project Gallery */

.gallery-image {
	margin-top: 25px;
}

.gallery-image img {
    width: 100%;        /* Ensures the image takes the full width of its container */
    object-fit: cover;  /* Resizes the image to maintain its aspect ratio */
    object-position: center; /* Aligns the center of the image in the frame */
}

.full-width {
    grid-column: 1 / -1; /* Spans the full width of the grid */
}

@media screen and (min-width: 768px) {
    .gallery-image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em; /* Optional: adds space between the grid items */
    }
	.gallery-image img {
		width: 100%;        /* Ensures the image takes the full width of its container */
		object-fit: cover;  /* Resizes the image to maintain its aspect ratio */
		object-position: center; /* Aligns the center of the image in the frame */
	}
}

/*Footer */

footer {
	background-color: #222222;
	color: white;
}

footer a {
	color: white;
}

/* New styles for mobile and desktop hamburger menu */
#hamburger-btn {
	display: block;
	z-index: 1001;
	background: none;
	border: none;
	font-size: 1.7em;
	cursor: pointer;
	color: black;
	padding: 0;
	margin: 0;
	position: absolute;
	right: 20px;
	top: 30px;
  }

  /* Invert hamburger button */
  .header-invert #hamburger-btn {
	color: white;
  }
  
  .menu-container {
	position: fixed;
	top: 0;
	right: -100%; /* Hidden initially by being off-screen */
	height: 100%; /* Full screen height */
	width: 550px; /* You can adjust the width of the menu */
	max-width: 80%;
	background-color: var(--secondary);
	overflow-x: hidden;
	transition: .5s; /* Smooth transition for opening and closing the menu */
	z-index: 1000;
	padding-top: 60px; /* To offset from the top */
  }
  
  .menu-container ul {
	list-style-type: none;
	padding: 0;
  }
  
  .menu-container a {
	padding: 10px 15px;
	text-decoration: none;
	font-size: 25px;
	color: var(--primary);
	display: block;
	transition: 0.3s;
  }
  
  /* Close button inside the menu */
  .close-btn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 2em;
	margin-left: 50px;
	cursor: pointer;
  }

  /* Post Header Grid */
.post-header {
	display: grid;
	grid-template-columns: 1fr; /* Stacks on mobile */
	padding: 50px;
  }
  
  @media screen and (min-width: 768px) { /* This media query is for desktop sizes */
	.post-header {
	  grid-template-columns: 50% 50%; 
	}

	.post-content {
		padding-left: 15px;
		padding-right: 15px;
	}

	.post-header h1 {
		padding-left: 15px;
		padding-right: 15px;
	}

  }

  .footer {
	background-color: #151515;
	padding: 4em 2em;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #FFF;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: white;
	width: 50px;
	height: 2px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	color: #DDD;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer-col .social-links a {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #151515;
	background-color: #FFF;
}

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}