:root {
	--primary: rgb(12, 12, 12);
	--secondary: white;
	--background: #ffffff;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,

body {
	padding: 0;
	margin: 0;
	font-family: Manrope, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
}

main {
	max-width: 1440px;
	margin: auto;
	width: 100%;
}

p,
pre,
code {
	line-height: 1.5;
}

a {
	color: black;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-size: 2.62em;
	line-height: 1;
}

h3 {
	font-size: 1.62em;
	line-height: 1;
}

.arrow-cta {
	font-size: 0.9em;
}

header,
main,
footer {
	padding: 1em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

.logo-image {
	width: 200px;
	max-width: 100%;
}

.logo {
	margin: auto;
	padding-top: 15px;
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header {
	margin-bottom: 40px;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	width: 100%;
}

header nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

/* Projects Page Grid */

.projects-gallery img {
    width: 100%;        /* Ensures the image takes the full width of its container */
    object-fit: cover;  /* Resizes the image to maintain its aspect ratio */
    object-position: center; /* Aligns the center of the image in the frame */
	height: 340px;
}

@media screen and (min-width: 768px) {
    .projects-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em; /* Optional: adds space between the grid items */
    }
	.projects-gallery img {
		width: 100%;        /* Ensures the image takes the full width of its container */
		object-fit: cover;  /* Resizes the image to maintain its aspect ratio */
		object-position: center; /* Aligns the center of the image in the frame */
		height:550px;
	}
}

/* Single Project Gallery */

.gallery-image {
	margin-top: 25px;
}

.gallery-image img {
    width: 100%;        /* Ensures the image takes the full width of its container */
    object-fit: cover;  /* Resizes the image to maintain its aspect ratio */
    object-position: center; /* Aligns the center of the image in the frame */
}

@media screen and (min-width: 768px) {
    .gallery-image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em; /* Optional: adds space between the grid items */
    }
	.gallery-image img {
		width: 100%;        /* Ensures the image takes the full width of its container */
		object-fit: cover;  /* Resizes the image to maintain its aspect ratio */
		object-position: center; /* Aligns the center of the image in the frame */
	}
}

/*Footer */

footer {
	background-color: #222222;
	color: white;
}

footer a {
	color: white;
}

/* New styles for mobile and desktop hamburger menu */
#hamburger-btn {
	display: block;
	z-index: 1001;
	background: none;
	border: none;
	font-size: 2em;
	cursor: pointer;
	color: black;
	padding: 0;
	margin: 0;
	position: absolute;
	right: 20px;
	top: 20px;
  }
  
  .menu-container {
	position: fixed;
	top: 0;
	right: -100%; /* Hidden initially by being off-screen */
	height: 100%; /* Full screen height */
	width: 550px; /* You can adjust the width of the menu */
	max-width: 80%;
	background-color: var(--secondary);
	overflow-x: hidden;
	transition: .5s; /* Smooth transition for opening and closing the menu */
	z-index: 1000;
	padding-top: 60px; /* To offset from the top */
  }
  
  .menu-container ul {
	list-style-type: none;
	padding: 0;
  }
  
  .menu-container a {
	padding: 10px 15px;
	text-decoration: none;
	font-size: 25px;
	color: var(--primary);
	display: block;
	transition: 0.3s;
  }
  
  /* Close button inside the menu */
  .close-btn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 2em;
	margin-left: 50px;
	cursor: pointer;
  }

  /* Post Header Grid */
.post-header {
	display: grid;
	grid-template-columns: 1fr; /* Stacks on mobile */
	padding: 50px;
  }
  
  @media screen and (min-width: 768px) { /* This media query is for desktop sizes */
	.post-header {
	  grid-template-columns: 50% 50%; 
	}

	.post-content {
		padding-left: 15px;
		padding-right: 15px;
	}

	.post-header h1 {
		padding-left: 15px;
		padding-right: 15px;
	}

  }
  