<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="nav-links">
    {%- for entry in navPages %}
      <li class="nav-item">
        <a href="{{ entry.url | url }}"{% if entry.url == page.url %} class="current-item"{% endif %}>{{ entry.title }}</a>
      </li>
    {%- endfor %}
  </ul>
</nav>