<nav>
  <!-- Hamburger Icon -->
  <div id="hamburger-icon">≡</div>

  <!-- Menu Container (Initially Hidden) -->
  <div id="menu-container" class="hidden">
    <!-- Close Icon -->
    <div id="close-icon">×</div>

    <!-- Navigation Links -->
    <ul>
      {% set navPages = collections.all | eleventyNavigation %}
      {%- for entry in navPages %}
        <li><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
    </ul>
  </div>
</nav>