---
layout: layouts/base.njk
section: home
---

<div>
    <video autoplay muted loop id="myVideo">
        <source src="{{ video }}" type="video/mp4">
    </video>
</div>

<img src="{{ image }}"/>

{{ layoutContent | safe }}
