---
layout: layouts/base.njk
section: home
---

    <section class="hero-banner">
        <video autoplay loop muted playsinline class="hero-video">
            <source src="{{ video }}" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <div class="overlay-content">
            <img src="/static/img/marcoux_logo.png" class="logo-image" />
            {% include "components/nav.njk" %}
        </div>
    </section>
    
<img src="{{ image }}"/>
{{ layoutContent | safe }}