<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header class="header-invert">
    <div class="header-container">
        <a href="{{ '/' | url }}" class="logo"><img src="/static/img/marcoux_logo_white.png" class="logo-image" /></a>
        {% include "components/nav.njk" %}
    </div>
</header>

    <div class="hero-background">
        <video autoplay loop muted playsinline class="hero-video">
            <source src="{{ video }}" type="video/mp4">
        </video>

        <div class="hero-content">
            <h1 class="hero-headline">{{ headline }}</h1>
            <p>{{ subheadline }}</p>
        </div>
    </div>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>

