---
layout: layouts/base.njk
section: post
---

<article>
   {# <img src="{{ image }}"/> #}
  
  <div>
    <h1>{{ title }}</h1>
  </div>

  <!-- Gallery Images -->
  {% if gallery %}
    <div class="gallery-image">
      {% for item in gallery %}
        <img src="{{ item.image }}" alt="Gallery Image">
      {% endfor %}
    </div>
  {% endif %}

  {{ layoutContent | safe }}

</article>

<nav>
  <a href="{{ '/blog/' | url }}">← Blog index</a>
</nav>
